doctype html
head

  title Plants
    
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  link(rel="icon" type="image/png" href="./media/2d/favicon.png")
  link(rel="stylesheet", href="style.styl")  
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet")
 
  //- SEO


  //- analytics
  
    
body
    //- splash
    #splash    
      .loader        
        h2 loading 
        h2 ...
      .hidden.cool-stuff
        .banner
          h2 WebXR not supported on this device. Try reloading the page from a recent Android phone.
        .title
          h1 plants
        .arrows
          img(src="./media/2d/UI/arrows.png", alt="arrows")

    //- app
    .info-panel.hidden
      h2 Plant Name
      p Genus: Unknown
      p Species: Unknown
      p Location: (0, 0)
      
    #overlay.hidden      
      .hints
        img.scan(src="./media/2d/gif/scan.gif", alt="scan")
        .copy 
          p scan the floors and surfaces around you
      //- .subhint.hidden
      //-   img.tap(src="./media/2d/gif/tap.gif", alt="tap")
      //-   p now tap to drop!
      //- .gifcontainer        
      //- nav.hidden
      //-   button.but.undo
      //-     img(src="./media/2d/UI/undo.png", alt="undo")
      //-   button.but.bomb
      //-     img(src="./media/2d/UI/bomb.png", alt="bomb")
      //- .bottom.hidden
      //-   button.but.prev   
      //-     img(src="./media/2d/UI/arrow.png", alt="arrow")
      //-   .status
      //-     img.icon(src="./media/2d/icons/pong.png", alt="ico")
      //-   button.but.next
      //-     img(src="./media/2d/UI/arrow.png", alt="arrow")

    script(src="./bounce.js")
